#applist {
  height:200px;
}
.carousel-item {
  background-color: #0CB2FA;
  margin:0;
}
.carousel-item > a > img {
  width:150px;
  height:150px;
}
.carousel-caption {
  color:#0000ff;
  position:relative;
  left:auto;
  right:auto;
}
.carousel-inner {
  height:100%;
}
.carousel-indicators {
  bottom:-50px;
}
